.calendar {
  height: calc(100dvh - 185px);
}

@media screen and (max-height: 500px) {
  .calendar {
    height: calc(200dvh - 185px);
  }
}

@media screen and (max-width: 768px) {
  :host {
    ::ng-deep .p-datepicker {
      width: 350px;
    }
  }

  .calendar {
    width: 100%;
  }
}
