<section
  class="w-full flex justify-content-center align-items-center m-0 p-0"
  style="height: 100dvh"
>
  <div class="h-full w-full flex xl:flex-row flex-column xl:justify-content-between justify-content-evenly align-items-center">
    <a href="https://github.com/bullbatti/InOutFlow_client" target="_blank" class="action h-full m-0 p-0">
      <div class="action xl:h-full h-2 w-full " id="boh">
        <p>See cilent project</p>
      </div>
    </a>

    <a href="https://github.com/bullbatti/InOutFlow_server" target="_blank" class="action centered h-full m-0 p-0" >
      <div class="action xl:h-full h-2 w-full border-0" id="boh1">
        <p>See server project</p>
      </div>
    </a>

    <div class="action xl:h-full h-2 w-full" id="boh2" routerLink="/login">
      <p>Log in</p>
    </div>
  </div>

  <footer
    class="fixed bottom-0 left-0 w-full h-5rem flex justify-content-center align-items-center bg-primary"
  >
    <p>Made by <a href="https://andreabattista.net" target="_blank">bullbatti</a></p>
  </footer>
</section>
