a {
  color: white;
}

a.action {
  text-decoration: none;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  flex: 1;
}

.link-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#front-end {
  background-image: url("../../../assets/undraw_Responsive_re_e1nn.png");
}

#back-end {
  background-image: url("../../../assets/undraw_server_cluster_jwwq.png");
}

#log-in {
  background-image: url("../../../assets/undraw_Sign_up_n6im.png");
}

.action p {
  width: 80%;
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

@media (hover: hover) {
  .action:hover {
    flex: 2;
    transition: 0.5s;
  }
}
